[submodule "node_modules/prettyprint"]
	path = node_modules/prettyprint
	url = https://github.com/scottrabin/prettyprint.git
[submodule "node_modules/narcissus"]
	path = node_modules/narcissus
	url = https://github.com/scottrabin/narcissus.git
